$bg_color: #212121;
$color: #039be5;
$accent_color: #ffe0b2;
$accent_hover_color: #e7da66;

$breakpoint: 780px;

html {
  background: $bg_color;
}

p,
span,
li {
  color: $color;
}

a:hover {
  color: $accent_hover_color;
}

h1,
h2,
h3,
h4,
h5,
a,
small {
  color: $accent_color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.content-wrapper {
  @media screen and (min-width: $breakpoint) {
    width: 800px;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  align-items: baseline;
  @media screen and (min-width: $breakpoint) {
    width: 800px;
    margin: 0 auto;
  }
  @media screen and (max-width: $breakpoint) {
    flex-wrap: wrap;
  }

  &__title {
    font-size: 20px;
  }

  &__nav {
    flex: 1;
  }

  &__ul {
    display: flex;
    justify-content: space-around;
  }

  &__li {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.footer {
  @media screen and (min-width: $breakpoint) {
    width: 800px;
    margin: 50px auto 0;
  }
}
