@import 'component';

.header {
  display: flex;
  align-items: baseline;
  @media screen and (min-width: $breakpoint) {
    width: 800px;
    margin: 0 auto;
  }

  &__title {
    font-size: 20px;
  }

  &__nav {
    flex: 1;
  }

  &__ul {
    display: flex;
    justify-content: space-around;
  }

  &__li {
    & > a:hover {
      color: $accent_hover_color;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.gototop {
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 4vh;
  right: 20%;
  background-color: $accent_color;

  &__content {
    padding-top: 5px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: $color;
    font-size: 22px;
  }
}

.footer {
  @media screen and (min-width: $breakpoint) {
    width: 800px;
    margin: 0 auto;
  }
}

/* スマホタブレットサイズ用 */
@media screen and (max-width: $breakpoint) {
  .content,
  .content-s {
    padding: 2vh 0;
  }
}

/* PCサイズ向け */
@media screen and (min-width: $breakpoint) {
  .content {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .content-s {
    height: 100vh;
  }

  .main-content {
    position: relative;
    width: 60%;
  }

  .figure-content {
    position: relative;
    width: 40%;
    padding: 5%;
  }
}
