@import 'component';

/* スマホタブレットサイズ用 */
@media screen and (max-width: $breakpoint) {
  .content,
  .content-s {
    padding: 2vh 0;
  }
}

/* PCサイズ向け */
@media screen and (min-width: $breakpoint) {
  .content {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .content-s {
    height: 100vh;
  }

  .main-content {
    position: relative;
    width: 60%;
  }

  .figure-content {
    position: relative;
    width: 40%;
    padding: 5%;
  }
}
