@import 'component';

.page {
  @media screen and (min-width: $breakpoint) {
    height: 100vh;
  }

  &__content {
    @media screen and (min-width: $breakpoint) {
      display: flex;
    }
  }

  &__contentMain {
    @media screen and (min-width: $breakpoint) {
      width: 60%;
    }
  }

  &__img {
    @media screen and (min-width: $breakpoint) {
      width: 40%;
      margin-left: 10px;
      object-fit: contain;
    }
  }
}
