@font-face {
  font-family: 'kirugo';
    src: url('GN-KillGothic-U-KanaO.ttf') format('truetype');
  }

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgb(246, 248, 250) !important;
  font-weight: bold !important;
}

h1, h2, h3, h4 {
  font-family: "kirugo" !important;
  font-size: xx-large !important;
  color: red !important;
}

p {
  word-wrap: normal;
  overflow-wrap: break-word;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: red;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: red;
  color: white;
}

.outer-title {
  position: relative !important;
  text-align: center !important;
}

.title {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateY(-50%) translateX(-50%) !important;
  -webkit- transform: translateY(-50%) translateX(-50%) !important;
  font-family: "kirugo" !important;
  font-size: 10vw !important;
  color: red !important;
}

.article {
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
