html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #222222 !important;
}

p, h1, label, marquee, th, td, a {
  color: #00ECFF !important;
}

.en {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.his-white p {
  color: white !important;
}

.history {
  height: 100%;
}
