html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f7e9e3 !important;
}

p, label, marquee, th, td, a, h2, h3, h4 {
  color: #6dc9c8 !important;
}

h1 {
  color: #ffc0c2 !important;
}

header {
  background-color: #0e3150 !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.his-white p {
  color: white !important;
}
