@charset "UTF-8";
html {
  background: #212121;
}

p,
span,
li {
  color: #039be5;
}

h1,
h2,
h3,
h4,
h5,
a,
small {
  color: #ffe0b2;
}

ul {
  list-style: none;
}

/* スマホタブレットサイズ用 */
@media screen and (max-width: 780px) {
  article {
    padding: 2vh 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
  }
}

/* PCサイズ向け */
@media screen and (min-width: 780px) {
  html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
  }
  img {
    width: 90%;
    padding: 10%;
    height: auto;
  }
  .content-wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
  }
}
