html {
  background: #212121;
}

p,
span,
li {
  color: #039be5;
}

a:hover {
  color: #e7da66;
}

h1,
h2,
h3,
h4,
h5,
a,
small {
  color: #ffe0b2;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

@media screen and (min-width: 780px) {
  .content-wrapper {
    width: 800px;
    margin: 0 auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 780px) {
  .header {
    width: 800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 780px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__title {
  font-size: 20px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__li:not(:first-child) {
  margin-left: 10px;
}

@media screen and (min-width: 780px) {
  .footer {
    width: 800px;
    margin: 50px auto 0;
  }
}

@media screen and (min-width: 780px) {
  .page {
    height: 100vh;
  }
}

@media screen and (min-width: 780px) {
  .page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 780px) {
  .page__contentMain {
    width: 60%;
  }
}

@media screen and (min-width: 780px) {
  .page__img {
    width: 40%;
    margin-left: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
